$full-white: #fff;
$off-white: #ddd;
$background-multiply: #aaa;

$mostly-opaque: #000000ee;
$semi-transparent: #000000cc;
$fully-transparent: #00000000;
$transparent-white: #ffffff00;
$shadow-color: rgba(0, 0, 0, 0.3);

$text-default: #e6edf3;
$fg-text-muted: #8d96a0;
$text-muted: #848d97;
$border-color: #30363d;
$border-color-muted: #30363db3;
$background-color-dark: #0c1117;
$background-color-blue: #091524;

$fg-color-open: #f0883e;
$fg-color-done: #ab7df8;
$fg-color-accent: #4493f8;

$fg-color-wip: #d29922;
$fg-color-success: #58a6ff;

$btn-default-bg: #21262d;
$btn-default-fg: #c9d1d9;
$btn-default-hover: #292e36;

$border-radius-medium: 0.375rem;

$sidenav-width: 300px;

$image-width: 175px;
$bio-width: 35vw;
$box-width: calc($image-width + $bio-width + 24px);

$anim-time: 0.3s;
