@mixin background-design {
  background-image: url("src/assets/homepage-background.jpg");
  background-color: $background-multiply;
  background-blend-mode: multiply;
  background-size: 130%;
  background-position: 0% 3%;
  background-attachment: fixed;
}

@mixin off-white-text {
  color: $off-white;
}

@mixin off-white-border {
  border: 1px solid $off-white;
}

@mixin full-white-border {
  border: 1px solid $full-white;
}

@mixin transparent-underline {
  text-decoration: underline $transparent-white;
}

@mixin full-width {
  width: 100%;
}

@mixin part-width-centered {
  width: 95%;
  margin: 0 auto;
}

@mixin flex($direction, $text, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  text-align: $text;
  align-items: $align;
  justify-content: $justify;
}

@mixin nav-link-default {
  @include transparent-underline;
  color: $full-white;
  text-underline-offset: 3px;
}

@mixin button($text, $border, $background-color) {
  color: $text;
  border: 1px solid $border;
  background-color: $background-color;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.8em;
}

@mixin temp-border {
  border: 1px solid #fff;
}
