@mixin off-white-text {
  color: $off-white;
}

@mixin off-white-border {
  border: 1px solid $off-white;
}

@mixin full-white-border {
  border: 1px solid $full-white;
}

@mixin transparent-underline {
  text-decoration: underline $transparent-white;
}

@mixin subtle-underline {
  text-decoration: underline 0.1px #ffffff88;
  text-underline-offset: 3px;
}

@mixin full-width {
  width: 100%;
}

@mixin flex($direction, $text, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  text-align: $text;
  align-items: $align;
  justify-content: $justify;
}

@mixin button($text, $border, $background-color) {
  color: $text;
  border: 1px solid $border;
  background-color: $background-color;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.8em;
}

@mixin temp-border {
  border: 1px solid #fff;
}
