@media only screen and (max-width: 870px) {
  main,
  .infobox--full {
    margin-left: 0px !important;
  }

  #infobox.infobox--side {
    top: 0 !important;
    position: fixed !important;
  }

  .infobox--side {
    background-color: $background-color-dark;
    width: 100vw !important;
    position: fixed;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.5);
    z-index: 3;

    .section-body {
      width: 100% !important;
      margin: 0 !important;
      border-left: 0px !important;
      border-right: 0px !important;
      border-top: 0px !important;
      border-radius: 0px !important;
      display: flex;
      flex-direction: row !important;
      padding: 10px 24px !important;
    }

    img {
      width: 45px !important;
      height: 45px !important;
    }

    .infobox-top {
      flex-direction: row !important;
      align-items: center;
      margin-bottom: 0px !important;
    }

    .divider {
      display: none;
    }

    .infobox-icons {
      display: none;
    }

    .btn-link {
      display: none;
    }

    .contact-btns {
      display: flex !important;
      flex-direction: row !important;
      gap: 8px;
      align-items: center !important;

      .btn-default {
        margin-top: 0px !important;
        font-size: 12px !important;
      }

      svg {
        width: 12px !important;
      }
    }
  }

  .project-visuals {
    flex-direction: column !important;
    gap: 24px !important;
    padding-bottom: 24px !important;

    .project-visual {
      width: 100% !important;
    }
  }

  #contact {
    padding-bottom: calc(100vh - 410px) !important;
  }
}

@media only screen and (max-width: 515px) {
  .site-subtitle {
    display: none !important;
  }

  .section-body {
    width: 100%;
    padding: 0;

    &.floating {
      margin: 0 !important;
      padding: 0 10px !important;
    }
  }

  .infobox--side .section-body {
    padding: 10px !important;
  }

  .infobox--full {
    width: calc(100% - 20px);

    .infobox-top {
      flex-direction: column !important;

      img {
        width: 150px !important;
      }
      .info-bio {
        width: 100% !important;
      }
    }

    .section-body {
      margin: 0 10px !important;
    }

    .infobox-icons {
      width: 100% !important;
    }

    .btn-default,
    .btn-link {
      width: 100%;
    }
  }

  .tech-lists {
    flex-direction: column !important;
    align-items: center !important;
    gap: 24px !important;
    text-align: center;

    p {
      padding-bottom: 8px;
    }

    .icon-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 24px;
      width: 300px;
      padding-bottom: 24px;
    }

    .list-icon {
      gap: 3px;
      margin-bottom: -12px;
    }
  }
}
