$locator-margin: 100px;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: $text-default;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.4px;
}

body {
  background: linear-gradient($background-color-dark, $background-color-blue);
  margin: 0;
  padding: 0;
}

#site-body {
  padding-top: 24px;
}

main {
  margin-left: $sidenav-width;
}

.muted-text {
  color: $text-muted;
}

.bold {
  font-weight: 800;
}

.inline-link {
  @include animate-any(color);
  color: $text-default;
  text-decoration: none;

  &:hover {
    color: $text-muted;
  }
}

.icon-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  svg {
    fill: $text-muted;
  }
}

.list-icon {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  > * {
    margin-bottom: 0px;
    font-size: 13px;
  }
}
