html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

%body-setup {
  @include background-design;
  @include off-white-text;
  @include full-width;
}

body {
  @extend %body-setup;
  margin: 0;
  padding: 0;
}

.locator {
  @include full-width;
  height: 0px;
  margin-bottom: 100px;
}

.button-default {
  @include button($off-white, $off-white, transparent);
  @include animate-any("filter, color");
  @include transparent-underline;

  &:hover {
    @include transparent-underline;
    color: $full-white;
    filter: brightness(3);
  }
}

.button-live {
  @include button(#000, $off-white, $off-white);
  @include animate-any(filter);

  &:hover {
    color: #000;
    filter: brightness(1.5);
  }
}
