$locator-margin: 100px;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: $text-default;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.4px;
}

body {
  background: linear-gradient($background-color-dark, $background-color-blue);
  margin: 0;
  padding: 0;
}

main {
  padding-top: 24px;
}

.muted-text {
  color: $text-muted;
}

.inline-link {
  @include animate-any(color);
  color: $text-muted;
  text-decoration: none;

  &:hover {
    color: $text-default;
  }
}
