.button-nofill {
  @include button($off-white, $off-white, transparent);
  @include animate-any(filter);
  @include transparent-underline;

  &:hover {
    @include transparent-underline;
    color: $full-white;
    filter: brightness(3);
  }
}

.button-fill {
  @include button(#000, $off-white, $off-white);
  @include animate-any(filter);
  @include transparent-underline;

  &:hover {
    @include transparent-underline;
    color: #000;
    filter: brightness(1.5);
  }
}

.btns-wrap {
  @include full-width;
  gap: 10px;
}

.bio .btns-wrap {
  @include flex(row, auto, auto, auto);
}

.project-tile .btns-wrap {
  @include flex(column, auto, auto, auto);
}

.btn-default {
  @include animate-any(background-color);
  color: $btn-default-fg;
  background-color: $btn-default-bg;
  font-weight: 500;
  border: 1px solid $border-color;
  border-radius: 6px;
  outline: none;
  padding: 3px 12px;

  &:hover {
    background-color: $btn-default-hover;
  }
}
