nav {
  @extend %body-setup;
  position: fixed;
  z-index: 1;
  height: auto;

  .nav-content {
    @include flex(row, left, center, space-between);
    margin: 0px 30px 15px 30px;
    border-bottom: 1px solid white;

    .welcome-link {
      @include nav-link-default;
      font-size: 25px;
      font-weight: 500;

      &:hover {
        @include transparent-underline;
      }
    }
  }
}

.nav-links {
  @include flex(row, left, center, left);
  padding: 10px;

  .nav-link {
    @include nav-link-default;
    @include animate-underline;

    &:hover {
      text-decoration: underline $full-white;
    }
  }

  .contact-link {
    @include nav-link-default;
    @include animate-any(border-color);
    border: 1px solid $full-white;
    padding: 5px;
    margin-left: 10px;

    &:hover {
      @include transparent-underline;
      border: 1px solid $background-multiply;
    }
  }
}
