.section-wrap {
  min-width: 281px;

  .section-body {
    border: 1px solid $border-color;
    border-radius: $border-radius-medium;
    margin: 0px 30px;
    padding: 24px;

    &.floating {
      border: 0px;

      .section-title {
        border-bottom: 0px;
      }
    }

    .section-title {
      border-bottom: 1px solid $border-color-muted;
      font-size: 21px;
      text-align: center;
      line-height: 2em;
      margin-bottom: 24px;
      font-weight: 600;
    }
  }

  a:hover {
    @include transparent-underline;
  }
}

.divider {
  border-bottom: 1px solid $border-color-muted;
  padding-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}
