.section-wrap {
  min-width: 281px;
  margin-bottom: 28px;

  .section-body {
    border: 1px solid $border-color;
    border-radius: $border-radius-medium;
    margin: 0px 30px;
    padding: 24px;

    .section-title {
      border-bottom: 1px solid $border-color-muted;
      font-size: 21px;
      text-align: center;
      line-height: 2em;
      margin-bottom: 16px;
    }
  }

  a:hover {
    @include transparent-underline;
  }
}

.tile {
  @include animate-any(background-color);
  background-color: $fully-transparent;
  color: $off-white;

  > * {
    @include animate-any(color);
    color: $off-white;
  }

  img {
    @include animate-any(filter);
  }

  &:hover {
    color: $full-white;

    img {
      filter: brightness(1.1);
    }
  }
}

.divider {
  border-bottom: 1px solid $border-color-muted;
  padding-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}
