#about {
  ul {
    width: $box-width;
    margin: 0 auto;
  }

  li,
  li > * {
    font-size: 14px;
  }

  li {
    margin-bottom: 8px;
  }

  .list-icon-title {
    white-space: nowrap;
  }

  .bio_list_item {
    @include icon-list-parent;
    padding-bottom: 8px;

    p {
      @include icon-list-inline-child;
    }
  }
}
