.bio {
  @include flex(row, left, flex-start, space-between);
  @include part-width-centered;
  gap: 15px;
  padding: 20px;

  #bio-img {
    width: 200px;
    height: 267px;
    margin-top: 15px;
  }

  .bio-text {
    margin-top: 10px;

    a {
      @include animate-any('underline, color');
      @include subtle-underline;
      color: $off-white;

      &:hover {
        text-decoration: underline $transparent-white 0.5px;
      }
    }

    .bold {
      font-weight: 800;
    }
  }

  
}
