#contact {
  .section-body {
    padding-bottom: 15px;
  }

  #contact-body {
    @include flex(column, center, center, space-between);
    gap: 20px;
    margin: 0 2.5%;
    padding: 25px 10px;
  }

  #letter {
    width: 150px;
  }

  .social-icons {
    @include flex(row, auto, center, auto);
    gap: 20px;
    padding: 4px 10px;

    i {
      @include animate-any(color);
      color: $off-white;
      font-size: 20px;

      &:hover {
        color: #fff;
      }
    }
  }
}
