.project-links {
  @include flex(row, left, stretch, center);
  width: 100%;
  flex-wrap: wrap;
}

.project-tile {
  width: 380px;
  height: auto;
  @include flex(column, center, auto, auto);
  gap: 10px;
  padding: 40px;

  &:hover {
    .project-link,
    .description {
      color: $full-white;
    }
  }

  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  img.offline:hover {
    cursor: default;
  }

  .wip {
    margin-top: -20px !important;
    margin-bottom: 20px !important;
  }

  .project-link {
    @include transparent-underline;
    @include animate-any("text-decoration-color, color");
    color: $off-white;
    line-height: 2em;
    font-size: 17px;

    &:hover {
      text-decoration: underline $full-white;
      color: $full-white;
    }
  }

  .description {
    margin-right: 10px;
    font-size: 14px;
    flex-grow: 1;
  }
}
