.octicon-issue-opened {
  fill: $fg-color-open;
}

.octicon-issue-closed {
  fill: $fg-color-done;
}

.octicon-dot-fill {
  fill: $fg-color-wip;
}

.octicon-check {
  fill: $fg-color-success;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-left: 12px;
  padding-bottom: 3px;

  a {
    @include full-color-link;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
  }
}

.project-body {
  @include standard-border-rounded;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 48px;

  .project-header {
    font-weight: 600;
    border-bottom: 1px solid $border-color-muted;
    margin-bottom: -6px;
  }

  .project-info-text {
    color: $fg-text-muted;
  }

  .project-visuals {
    padding: 12px 0px;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .project-visual {
    width: 50%;

    img {
      @include standard-border-rounded;
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;

      &:hover {
        cursor: pointer;
      }
    }

    code span {
      font-family: monospace;
      font-size: 11px;
    }

    a {
      @include inline-link;
    }
  }
}

dialog {
  @include standard-border-rounded;
  display: block;
  transform: scale(0);
  width: 90vw;
  padding: 0;
  background-color: $background-color-dark;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  max-width: 960px;

  &[open] {
    transition: transform $anim-time;
    transform: scale(1);
  }

  img {
    width: 100% !important;
    border: none !important;
    object-fit: cover;
  }
  &:active,
  &:focus {
    outline: none;
  }

  &::backdrop {
    background-color: #00000099;
  }
}

.considerations {
  padding-left: 12px;
}

.consideration-item {
  align-items: flex-start;
  padding-bottom: 8px;

  a {
    @include inline-link;
    color: $fg-text-muted;
  }

  svg {
    margin-top: 3px;
  }
  p {
    color: $fg-text-muted;
    flex-grow: 1;
  }
}
