.tech-section-wrap {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.tech-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.tech-logos {
  @include flex(row, auto, auto, auto);
  gap: 10px;

  .logo {
    @include animate-any(opacity);
    &:hover {
      opacity: 0.7;
    }
  }
}
