#techstack {
  .logo,
  .tech-name {
    @include inline-link;
  }

  a:hover {
    .logo,
    .tech-name {
      opacity: 0.7;
    }
  }

  .tech-lists {
    width: $box-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;

    p {
      font-weight: 600;
    }
  }

  .tech-list-header {
    margin-bottom: 3px;
  }
}
