#welcome-section {
  @include flex(column, center, center, center);
  height: 100vh;
  line-height: 0.5em;
  margin-bottom: -80px;

  .title {
    color: $full-white;
    border: 0.5px solid $full-white;
    width: 320px;
    margin: 0 auto;
    padding: 15px 0px;

    h1 {
      font-weight: 500;
      font-size: 30px;
    }

    h2 {
      font-weight: 100;
      font-size: 20px;
    }
  }
}
