.section-title,
.bio,
.project-links,
#contact-body {
  width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.bio {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 15px;
  padding: 20px;
}

/* global tile rules */

.img-wrapper {
  margin-left: -5px;
  margin-right: 5px;
  padding: 0px;
}

/*.description {
  flex-grow: 1 !important;
}

.btns-wrap {
  margin-top: auto;
}*/

#focusify .button {
  display: none;
}

#focusify img:hover {
  cursor: auto;
}

#contact {
  height: calc(100vh - 135px);
}

#contact .section-body {
  height: auto;
  padding-bottom: 15px;
}

#contact-body {
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
}

#letter {
  width: 150px;
  height: auto;
}

.social-icons {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#contact-body i {
  color: var(--off-white);
  font-size: 20px;
}

i:hover {
  color: #fff;
}

@media only screen and (min-width: 1168px) {
  body {
    background-position: 0% 12% !important;
  }

  nav {
    background-position: 0% 9% !important;
  }
}

@media only screen and (max-width: 500px) {
  body,
  nav {
    background-size: 140% !important;
    background-position: 0px 0px !important;
  }

  .nav-content {
    flex-direction: column !important;
    padding-top: 15px !important;
  }

  nav h1 {
    font-size: 25px !important;
  }

  .nav-links {
    text-align: center !important;
    margin-top: -12px !important;
    margin-bottom: 8px;
    flex-direction: row !important;
    gap: 0px !important;
    font-size: 16px !important;
    padding: 0px !important;
    justify-content: left !important;
  }

  nav a {
    margin: 0px !important;
  }

  .contact-link {
    font-size: 16px !important;
    border: none !important;
    padding-right: 13px !important;
  }

  .contact-link:hover {
    background-color: transparent !important;
    text-decoration: underline #fff !important;
  }

  .title {
    width: 250px !important;
  }

  .title h1 {
    font-size: 23px !important;
  }

  .title h2 {
    font-size: 16px !important;
  }

  .locator {
    margin-bottom: 105px !important;
  }

  section {
    margin-bottom: -80px !important;
  }

  .project-tile {
    display: flex !important;
    flex-direction: column !important;
  }

  .tile {
    width: 100% !important;
  }

  .project-tile img {
    width: 100% !important;
    height: auto !important;
  }

  .visit-btns {
    flex-direction: column !important;
  }

  .visit-btns .button {
    width: 100%;
  }

  .description {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #about .bio {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
    font-size: 15px;
  }

  #bio-block {
    display: flex;
    flex-direction: column;
  }

  #bio-block a {
    text-align: center;
  }

  #contact {
    height: calc(100vh - 105px) !important;
  }

  #contact i {
    font-size: 30px !important;
  }
}
