@media only screen and (min-width: 1168px) {
  body,
  nav {
    background-position: 0% 12% !important;
  }
}
@media only screen and (max-width: 500px) {
  body,
  nav {
    background-size: 140% !important;
    background-position: 0px 0px !important;
  }
  .nav-content {
    flex-direction: column !important;
    justify-content: center !important;
    padding-top: 15px !important;
  }
  .nav-links {
    margin-top: -10px !important;
    margin-bottom: 5px !important;
    font-size: 16px !important;
    padding: 0px !important;
    gap: 15px;
  }
  .nav-links .nav-link {
    padding: 0px;
  }
  .contact-link {
    transition: text-decoration-color 0.3s !important;
    border: none !important;
    padding: 0px;
    margin: 0px -5px !important;
  }
  .contact-link:hover {
    text-decoration: underline #fff !important;
  }
  .title {
    width: 250px !important;
  }
  .title h1 {
    font-size: 23px !important;
  }
  .title h2 {
    font-size: 16px !important;
  }
  .locator {
    margin-bottom: 105px !important;
  }
  .section-body {
    margin-bottom: -80px !important;
  }
  .tile {
    width: 100% !important;
  }
  .tile .btns-wrap {
    flex-direction: column !important;
  }
  .bio {
    align-items: center !important;
    font-size: 15px;
  }
  .bio .bio-img-text {
    flex-direction: column-reverse !important;
  }
  .bio .tech-section {
    align-items: center;
  }
  .bio .tech-logos {
    margin-top: -5px;
  }
  .bio .btns-locator {
    max-width: 90% !important;
  }
  .tech-section-wrap {
    margin: 0px !important;
    width: 100% !important;
  }
  .project-links {
    margin: 0px !important;
  }
  .project-tile {
    display: flex !important;
    flex-direction: column !important;
  }
  .project-tile img {
    width: 100% !important;
    height: auto !important;
  }
  .project-tile .description {
    text-align: center;
  }
  #contact {
    height: calc(100vh - 105px) !important;
  }
  #contact i {
    font-size: 25px !important;
  }
  #contact-body {
    margin: 0px !important;
  }
}
@media only screen and (min-width: 818px) {
  .project-tile {
    height: 550px !important;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: #e6edf3;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.4px;
}

body {
  background: linear-gradient(#0c1117, #091524);
  margin: 0;
  padding: 0;
}

#site-body {
  padding-top: 24px;
}

main {
  margin-left: 300px;
}

.muted-text {
  color: #848d97;
}

.bold {
  font-weight: 800;
}

.inline-link {
  transition-property: color;
  transition-duration: 0.3s;
  color: #e6edf3;
  text-decoration: none;
}
.inline-link:hover {
  color: #848d97;
}

.icon-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.icon-list svg {
  fill: #848d97;
}

.list-icon {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.list-icon > * {
  margin-bottom: 0px;
  font-size: 13px;
}

.section-wrap {
  min-width: 281px;
  margin-bottom: 28px;
}
.section-wrap .section-body {
  border: 1px solid #30363d;
  border-radius: 0.375rem;
  margin: 0px 30px;
  padding: 24px;
}
.section-wrap .section-body.floating {
  border: 0px;
}
.section-wrap .section-body.floating .section-title {
  border-bottom: 0px;
}
.section-wrap .section-body .section-title {
  border-bottom: 1px solid rgba(48, 54, 61, 0.7019607843);
  font-size: 21px;
  text-align: center;
  line-height: 2em;
  margin-bottom: 16px;
}
.section-wrap a:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
}

.tile {
  transition-property: background-color;
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  color: #ddd;
}
.tile > * {
  transition-property: color;
  transition-duration: 0.3s;
  color: #ddd;
}
.tile img {
  transition-property: filter;
  transition-duration: 0.3s;
}
.tile:hover {
  color: #fff;
}
.tile:hover img {
  filter: brightness(1.1);
}

.divider {
  border-bottom: 1px solid rgba(48, 54, 61, 0.7019607843);
  padding-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.button-nofill {
  color: #ddd;
  border: 1px solid #ddd;
  background-color: transparent;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.8em;
  transition-property: filter;
  transition-duration: 0.3s;
  text-decoration: underline rgba(255, 255, 255, 0);
}
.button-nofill:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
  color: #fff;
  filter: brightness(3);
}

.button-fill {
  color: #000;
  border: 1px solid #ddd;
  background-color: #ddd;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.8em;
  transition-property: filter;
  transition-duration: 0.3s;
  text-decoration: underline rgba(255, 255, 255, 0);
}
.button-fill:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
  color: #000;
  filter: brightness(1.5);
}

.btns-wrap {
  width: 100%;
  gap: 10px;
}

.bio .btns-wrap {
  display: flex;
  flex-direction: row;
  text-align: auto;
  align-items: auto;
  justify-content: auto;
}

.project-tile .btns-wrap {
  display: flex;
  flex-direction: column;
  text-align: auto;
  align-items: auto;
  justify-content: auto;
}

.btn-default {
  transition-property: background-color;
  transition-duration: 0.3s;
  color: #c9d1d9;
  background-color: #21262d;
  font-weight: 500;
  border: 1px solid #30363d;
  border-radius: 6px;
  outline: none;
  padding: 3px 12px;
}
.btn-default:hover {
  background-color: #292e36;
}

#contact #contact-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 25px 10px;
}
#contact #letter {
  width: 150px;
}
#contact .social-icons {
  display: flex;
  flex-direction: row;
  text-align: auto;
  align-items: center;
  justify-content: auto;
  gap: 20px;
  padding: 4px 10px;
}
#contact .social-icons i {
  transition-property: color;
  transition-duration: 0.3s;
  color: #ddd;
  font-size: 20px;
}
#contact .social-icons i:hover {
  color: #fff;
}

.octicon-issue-opened {
  fill: #f0883e;
}

.octicon-issue-closed {
  fill: #ab7df8;
}

.octicon-dot-fill {
  fill: #d29922;
}

.octicon-check {
  fill: #58a6ff;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-left: 12px;
  padding-bottom: 3px;
}
.project-title a {
  transition-property: color;
  transition-duration: 0.3s;
  text-decoration: none;
  color: #e6edf3;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}
.project-title a:hover {
  color: #848d97;
}

.project-body {
  border: 1px solid #30363d;
  border-radius: 0.375rem;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 48px;
}
.project-body .project-header {
  font-weight: 600;
  border-bottom: 1px solid rgba(48, 54, 61, 0.7019607843);
  margin-bottom: -6px;
}
.project-body .project-info-text {
  color: #8d96a0;
}
.project-body .project-visuals {
  padding: 12px 0px;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.project-body .project-visual {
  width: 50%;
}
.project-body .project-visual img {
  border: 1px solid #30363d;
  border-radius: 0.375rem;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.project-body .project-visual code span {
  font-family: monospace;
  font-size: 11px;
}
.project-body .project-visual a {
  transition-property: opacity;
  transition-duration: 0.3s;
  color: #848d97;
}
.project-body .project-visual a:hover {
  opacity: 0.7;
}

.considerations {
  padding-left: 12px;
}

.consideration-item {
  align-items: flex-start;
  padding-bottom: 8px;
}
.consideration-item a {
  transition-property: opacity;
  transition-duration: 0.3s;
  color: #848d97;
  color: #8d96a0;
}
.consideration-item a:hover {
  opacity: 0.7;
}
.consideration-item svg {
  margin-top: 3px;
}
.consideration-item p {
  color: #8d96a0;
  flex-grow: 1;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 0.5em;
  margin-bottom: -80px;
}
#welcome-section .title {
  color: #fff;
  border: 0.5px solid #fff;
  width: 320px;
  margin: 0 auto;
  padding: 15px 0px;
}
#welcome-section .title h1 {
  font-weight: 500;
  font-size: 30px;
}
#welcome-section .title h2 {
  font-weight: 100;
  font-size: 20px;
}

#about ul {
  width: calc(175px + 35vw + 24px);
  margin: 0 auto;
}
#about li,
#about li > * {
  font-size: 14px;
}
#about li {
  margin-bottom: 8px;
}
#about .list-icon-title {
  white-space: nowrap;
}

#techstack .logo,
#techstack .tech-name {
  transition-property: opacity;
  transition-duration: 0.3s;
  color: #848d97;
}
#techstack .logo:hover,
#techstack .tech-name:hover {
  opacity: 0.7;
}
#techstack a:hover .logo,
#techstack a:hover .tech-name {
  opacity: 0.7;
}
#techstack .tech-lists {
  width: calc(175px + 35vw + 24px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
}
#techstack .tech-list-header {
  margin-bottom: 3px;
}

#infobox {
  transition-property: all;
  transition-duration: 0.3s;
}
#infobox .section-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#infobox img {
  transition-property: "size, border-radius";
  transition-duration: 0.3s;
  border: 1px solid #30363d;
}
#infobox .infobox-link {
  transition-property: color;
  transition-duration: 0.3s;
  text-decoration: none;
  color: #e6edf3;
}
#infobox .infobox-link:hover {
  color: #848d97;
}
#infobox button {
  margin-top: 24px;
}

.infobox--full,
.infobox--spacer {
  margin-left: 300px;
}
.infobox--full .infobox-top,
.infobox--spacer .infobox-top {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}
.infobox--full img,
.infobox--spacer img {
  width: 175px;
}
.infobox--full h1,
.infobox--spacer h1 {
  font-size: 18px;
  font-weight: 800;
}
.infobox--full h2,
.infobox--spacer h2 {
  font-size: 14px;
  font-weight: 400;
}
.infobox--full .info-bio,
.infobox--spacer .info-bio {
  width: 35vw;
}
.infobox--full .infobox-icons,
.infobox--full .divider,
.infobox--full button,
.infobox--spacer .infobox-icons,
.infobox--spacer .divider,
.infobox--spacer button {
  width: calc(175px + 35vw + 24px);
}

.infobox--side {
  position: fixed;
  width: 300px;
}
.infobox--side .section-body {
  width: 276px;
}
.infobox--side .infobox-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: -8px;
  padding-bottom: 0px;
}
.infobox--side img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50px;
}
.infobox--side h1 {
  font-size: 14px;
  margin-bottom: 0;
}
.infobox--side h2 {
  color: #848d97;
  font-size: 12px;
}
.infobox--side .info-bio {
  display: none;
}
.infobox--side .btn-link,
.infobox--side .divider,
.infobox--side button {
  width: 100%;
}

.infobox--spacer {
  opacity: 0;
}

/*# sourceMappingURL=styles.css.map */
