@media only screen and (max-width: 870px) {
  main,
  .infobox--full {
    margin-left: 0px !important;
  }
  #infobox.infobox--side {
    top: 0 !important;
    position: fixed !important;
  }
  .infobox--side {
    background-color: #0c1117;
    width: 100vw !important;
    position: fixed;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .infobox--side .section-body {
    width: 100% !important;
    margin: 0 !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-radius: 0px !important;
    display: flex;
    flex-direction: row !important;
    padding: 10px 24px !important;
  }
  .infobox--side img {
    width: 45px !important;
    height: 45px !important;
  }
  .infobox--side .infobox-top {
    flex-direction: row !important;
    align-items: center;
    margin-bottom: 0px !important;
  }
  .infobox--side .divider {
    display: none;
  }
  .infobox--side .infobox-icons {
    display: none;
  }
  .infobox--side .btn-link {
    display: none;
  }
  .infobox--side .contact-btns {
    display: flex !important;
    flex-direction: row !important;
    gap: 8px;
    align-items: center !important;
  }
  .infobox--side .contact-btns .btn-default {
    margin-top: 0px !important;
    font-size: 12px !important;
  }
  .infobox--side .contact-btns svg {
    width: 12px !important;
  }
  .project-visuals {
    flex-direction: column !important;
    gap: 24px !important;
    padding-bottom: 24px !important;
  }
  .project-visuals .project-visual {
    width: 100% !important;
  }
  #contact {
    padding-bottom: calc(100vh - 410px) !important;
  }
}
@media only screen and (max-width: 515px) {
  .site-subtitle {
    display: none !important;
  }
  .infobox--full .infobox-top {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center;
  }
  .infobox--full .infobox-top img {
    width: 150px !important;
  }
  .infobox--full .infobox-top .info-bio {
    width: 100% !important;
  }
  .infobox--full .infobox-icons {
    width: 100% !important;
  }
  .infobox--full .btn-default,
  .infobox--full .btn-link {
    width: 100%;
  }
  .tech-lists {
    flex-direction: column !important;
    align-items: center !important;
    gap: 24px !important;
    text-align: center;
  }
  .tech-lists p {
    padding-bottom: 8px;
  }
  .tech-lists .icon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 300px;
    padding-bottom: 24px;
  }
  .tech-lists .list-icon {
    gap: 3px;
    margin-bottom: -12px;
  }
}
html {
  background-color: #0c1117;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: #e6edf3;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.4px;
}

body {
  background: linear-gradient(#0c1117, #091524);
  margin: 0 !important;
  padding: 0 !important;
}

#site-body {
  padding-top: 24px;
}

main {
  margin-left: 300px;
}

.muted-text {
  color: #848d97;
}

.bold {
  font-weight: 800;
}

.inline-link {
  transition-property: color;
  transition-duration: 0.3s;
  color: #e6edf3;
  text-decoration: none;
}
.inline-link:hover {
  color: #848d97;
}

.icon-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.icon-list svg {
  fill: #848d97;
}

.list-icon {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.list-icon p {
  margin-bottom: 0px;
  font-size: 13px;
}

.section-wrap {
  min-width: 281px;
}
.section-wrap .section-body {
  border: 1px solid #30363d;
  border-radius: 0.375rem;
  margin: 0px 30px;
  padding: 24px;
}
.section-wrap .section-body.floating {
  border: 0px;
}
.section-wrap .section-body.floating .section-title {
  border-bottom: 0px;
}
.section-wrap .section-body .section-title {
  border-bottom: 1px solid rgba(48, 54, 61, 0.7019607843);
  font-size: 21px;
  text-align: center;
  line-height: 2em;
  margin-bottom: 24px;
  font-weight: 600;
}
.section-wrap a:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
}

.divider {
  border-bottom: 1px solid rgba(48, 54, 61, 0.7019607843);
  padding-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.button-nofill {
  color: #ddd;
  border: 1px solid #ddd;
  background-color: transparent;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.8em;
  transition-property: filter;
  transition-duration: 0.3s;
  text-decoration: underline rgba(255, 255, 255, 0);
}
.button-nofill:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
  color: #fff;
  filter: brightness(3);
}

.button-fill {
  color: #000;
  border: 1px solid #ddd;
  background-color: #ddd;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.8em;
  transition-property: filter;
  transition-duration: 0.3s;
  text-decoration: underline rgba(255, 255, 255, 0);
}
.button-fill:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
  color: #000;
  filter: brightness(1.5);
}

.btns-wrap {
  width: 100%;
  gap: 10px;
}

.bio .btns-wrap {
  display: flex;
  flex-direction: row;
  text-align: auto;
  align-items: auto;
  justify-content: auto;
}

.project-tile .btns-wrap {
  display: flex;
  flex-direction: column;
  text-align: auto;
  align-items: auto;
  justify-content: auto;
}

.btn-default {
  transition-property: background-color;
  transition-duration: 0.3s;
  color: #c9d1d9;
  background-color: #21262d;
  font-weight: 500;
  border: 1px solid #30363d;
  border-radius: 6px;
  outline: none;
  padding: 3px 12px;
}
.btn-default:hover {
  background-color: #292e36;
}
.btn-default:active, .btn-default:focus {
  outline: none;
}

.contact-btns svg {
  fill: #c9d1d9;
}

.contact-btns-top {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.contact-btns > * {
  white-space: nowrap;
}

#contact {
  padding-bottom: calc(100vh - 340px);
}
#contact #contact-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: -48px;
  padding: 0px 10px;
}
#contact #letter {
  border: 1px solid #30363d;
  border-radius: 0.375rem;
  box-shadow: 0 18px 10px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 200px;
}
#contact .contact-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .contact-btn {
  width: 100%;
}

.octicon-issue-opened {
  fill: #f0883e;
}

.octicon-issue-closed {
  fill: #ab7df8;
}

.octicon-repo {
  fill: #4493f8;
}

.octicon-dot-fill {
  fill: #d29922;
}

.octicon-check {
  fill: #58a6ff;
}

.project-title {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  padding-left: 12px;
  padding-bottom: 3px;
}
.project-title a {
  transition-property: color;
  transition-duration: 0.3s;
  text-decoration: none;
  color: #e6edf3;
  margin-bottom: 0px;
  margin-top: -2px;
  font-size: 16px;
  font-weight: 600;
}
.project-title a:hover {
  color: #848d97;
}

.project-body {
  border: 1px solid #30363d;
  border-radius: 0.375rem;
  padding: 12px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 48px;
  position: relative;
}
.project-body .project-header {
  font-weight: 600;
  border-bottom: 1px solid rgba(48, 54, 61, 0.7019607843);
  margin-bottom: -6px;
}
.project-body .project-company-logo {
  width: 25px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.project-body .project-info-text {
  color: #8d96a0;
}
.project-body .project-info-text:last-of-type {
  margin-bottom: 0px;
}
.project-body .project-visuals {
  padding: 12px 0px;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.project-body .project-visual {
  width: 50%;
}
.project-body .project-visual img {
  border: 1px solid #30363d;
  border-radius: 0.375rem;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.project-body .project-visual code:hover,
.project-body .project-visual img:hover {
  cursor: pointer;
}
.project-body .project-visual code span {
  font-family: monospace;
  font-size: 11px;
}
.project-body .project-visual a {
  transition-property: opacity;
  transition-duration: 0.3s;
  color: #848d97;
}
.project-body .project-visual a:hover {
  opacity: 0.7;
}

dialog {
  border: 1px solid #30363d;
  border-radius: 0.375rem;
  display: block;
  transform: scale(0);
  width: 90vw;
  padding: 0;
  background-color: #0c1117;
  aspect-ratio: 16/9;
  overflow: hidden;
  max-width: 960px;
}
dialog[open] {
  transition: transform 0.3s;
  transform: scale(1);
}
dialog img {
  width: 100% !important;
  border: none !important;
  object-fit: cover;
}
dialog:active, dialog:focus {
  outline: none;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.considerations {
  padding-left: 12px;
}

.consideration-item {
  align-items: flex-start;
  padding-bottom: 8px;
}
.consideration-item a {
  transition-property: opacity;
  transition-duration: 0.3s;
  color: #848d97;
  color: #8d96a0;
}
.consideration-item a:hover {
  opacity: 0.7;
}
.consideration-item svg {
  margin-top: 3px;
}
.consideration-item p {
  color: #8d96a0;
  flex-grow: 1;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 0.5em;
  margin-bottom: -80px;
}
#welcome-section .title {
  color: #fff;
  border: 0.5px solid #fff;
  width: 320px;
  margin: 0 auto;
  padding: 15px 0px;
}
#welcome-section .title h1 {
  font-weight: 500;
  font-size: 30px;
}
#welcome-section .title h2 {
  font-weight: 100;
  font-size: 20px;
}

#about ul {
  width: calc(175px + 35vw + 24px);
  margin: 0 auto;
}
#about li,
#about li > * {
  font-size: 14px;
}
#about li {
  margin-bottom: 8px;
}
#about .list-icon-title {
  white-space: nowrap;
}
#about .bio_list_item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 8px;
}
#about .bio_list_item p {
  margin-bottom: 0px;
  margin-top: -2px;
}

#techstack .logo,
#techstack .tech-name {
  transition-property: opacity;
  transition-duration: 0.3s;
  color: #848d97;
}
#techstack .logo:hover,
#techstack .tech-name:hover {
  opacity: 0.7;
}
#techstack a:hover .logo,
#techstack a:hover .tech-name {
  opacity: 0.7;
}
#techstack .tech-lists {
  width: calc(175px + 35vw + 24px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
}
#techstack .tech-lists p {
  font-weight: 600;
}
#techstack .tech-list-header {
  margin-bottom: 3px;
}

#infobox {
  transition-property: all;
  transition-duration: 0.3s;
}
#infobox .section-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#infobox img {
  transition-property: "size, border-radius";
  transition-duration: 0.3s;
}
#infobox .infobox-link {
  transition-property: color;
  transition-duration: 0.3s;
  text-decoration: none;
  color: #e6edf3;
}
#infobox .infobox-link:hover {
  color: #848d97;
}
#infobox .infobox-link span {
  transition-property: color;
  transition-duration: 0.3s;
  text-decoration: none;
  color: #e6edf3;
}
#infobox .infobox-link span:hover {
  color: #848d97;
}
#infobox button {
  margin-top: 24px;
}
#infobox .contact-btns {
  display: none;
}

.infobox--full {
  margin-left: 300px;
}
.infobox--full .infobox-top {
  width: calc(175px + 35vw + 24px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}
.infobox--full img {
  border: 1px solid #30363d;
  border-radius: 0.375rem;
  width: 175px;
}
.infobox--full h1 {
  font-size: 18px;
  font-weight: 800;
}
.infobox--full h2 {
  font-size: 14px;
  font-weight: 400;
  color: #8d96a0;
}
.infobox--full .infobox-icons,
.infobox--full .divider,
.infobox--full button {
  width: calc(175px + 35vw + 24px);
}

.infobox--side {
  position: fixed;
  width: 300px;
}
.infobox--side .full-infobox-only {
  display: none;
}
.infobox--side .section-body {
  width: 276px;
}
.infobox--side .infobox-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: -8px;
  padding-bottom: 0px;
}
.infobox--side img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50px;
}
.infobox--side h1 {
  font-size: 14px;
  margin-bottom: 0;
}
.infobox--side h2 {
  color: #848d97;
  font-size: 12px;
}
.infobox--side .info-bio {
  display: none;
}
.infobox--side .divider,
.infobox--side button {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
