html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

nav, body {
  background-image: url("src/assets/homepage-background.jpg");
  background-color: #aaa;
  background-blend-mode: multiply;
  background-size: 130%;
  background-position: 0% 3%;
  background-attachment: fixed;
  color: #ddd;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.locator {
  width: 100%;
  height: 0px;
  margin-bottom: 100px;
}

.button-default {
  color: #ddd;
  border: 1px solid #ddd;
  background-color: transparent;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.8em;
  transition-property: "filter, color";
  transition-duration: 0.3s;
  text-decoration: underline rgba(255, 255, 255, 0);
}
.button-default:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
  color: #fff;
  filter: brightness(3);
}

.button-live {
  color: #000;
  border: 1px solid #ddd;
  background-color: #ddd;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.8em;
  transition-property: filter;
  transition-duration: 0.3s;
}
.button-live:hover {
  color: #000;
  filter: brightness(1.5);
}

nav {
  position: fixed;
  z-index: 1;
  height: auto;
}
nav .nav-content {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 15px 30px;
  border-bottom: 1px solid white;
}
nav .nav-content .welcome-link {
  text-decoration: underline rgba(255, 255, 255, 0);
  color: #fff;
  text-underline-offset: 3px;
  font-size: 25px;
  font-weight: 500;
}
nav .nav-content .welcome-link:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
}

.nav-links {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: left;
  padding: 10px;
}
.nav-links .nav-link {
  text-decoration: underline rgba(255, 255, 255, 0);
  color: #fff;
  text-underline-offset: 3px;
  text-decoration: underline rgba(255, 255, 255, 0);
  transition: text-decoration-color 0.3s;
}
.nav-links .nav-link:hover {
  text-decoration: underline #fff;
}
.nav-links .contact-link {
  text-decoration: underline rgba(255, 255, 255, 0);
  color: #fff;
  text-underline-offset: 3px;
  transition-property: border-color;
  transition-duration: 0.3s;
  border: 1px solid #fff;
  padding: 5px;
  margin-left: 10px;
}
.nav-links .contact-link:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
  border: 1px solid #aaa;
}

.section-wrap {
  width: 100%;
  height: auto;
  min-width: 281px;
}
.section-wrap .section-body {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0px 30px;
  padding-bottom: 40px;
}
.section-wrap .section-body .section-title {
  width: 95%;
  margin: 0 auto;
  color: #fff;
  padding-top: 10px;
  border-bottom: 0.5px solid #ddd;
  font-size: 25px;
  text-align: center;
  line-height: 2em;
}
.section-wrap a:hover {
  text-decoration: underline rgba(255, 255, 255, 0);
}

.tile {
  background-color: rgba(0, 0, 0, 0);
  color: #ddd;
}
.tile > * {
  color: #ddd;
}
.tile img,
.tile .letter-wrap {
  border: 1px solid #ddd;
}
.tile:hover {
  background-color: rgba(0, 0, 0, 0.9333333333);
  color: #fff;
}
.tile:hover > * {
  color: #fff;
  border-color: #fff;
}
.tile:hover img {
  border: 1px solid #fff;
  filter: brightness(1.1);
}

#contact {
  margin-bottom: 6vh;
}

.project-links {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0px 15px;
}

.project-tile {
  transition-property: background-color;
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: auto;
  align-items: auto;
  justify-content: auto;
  gap: 10px;
  padding: 40px;
}
.project-tile:hover {
  background-color: rgba(0, 0, 0, 0.9333333333);
}
.project-tile:hover .project-link,
.project-tile:hover .description {
  color: #fff;
}
.project-tile img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.project-tile .wip {
  margin-top: -20px !important;
  margin-bottom: 20px !important;
}
.project-tile .project-link {
  text-decoration: underline rgba(255, 255, 255, 0);
  transition-property: "text-decoration-color, color";
  transition-duration: 0.3s;
  color: #ddd;
  line-height: 2em;
  font-size: 17px;
}
.project-tile .project-link:hover {
  text-decoration: underline #fff;
  color: #fff;
}
.project-tile .description {
  margin-right: 10px;
  font-size: 14px;
}
.project-tile .visit-btns {
  display: flex;
  flex-direction: row;
  text-align: auto;
  align-items: auto;
  justify-content: auto;
  width: 100%;
  gap: 10px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 0.5em;
  margin-bottom: -80px;
}
#welcome-section .title {
  color: #fff;
  border: 0.5px solid #fff;
  width: 320px;
  margin: 0 auto;
  padding: 15px 0px;
}
#welcome-section .title h1 {
  font-weight: 500;
  font-size: 30px;
}
#welcome-section .title h2 {
  font-weight: 100;
  font-size: 20px;
}

.bio {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: left;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  gap: 15px;
  padding: 20px;
}
.bio #bio-img {
  width: 200px;
  height: 267px;
  margin-top: 15px;
}
.bio #bio-text {
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
